.form {
	display: flex;
	flex-direction: column;
	padding: 2em;
	background-color: blue;
	color: antiquewhite;
}

.form input {
	margin: 1em 0;
}

.form input[type="submit"] {
	background-color: purple;
	color: antiquewhite;
	width: 200px;
}